/* Autres styles personnalisés : page moncompte */
.custom-bg {

background-color: #007bff;


}

/* Autres styles personnalisés : page moncompte */
.btn-custom{
    background-color: #007bff;
    color: #5072ed;
}
